.listing {
    display: grid;
    grid-template-areas: "image title";
}

.search-results {
    height: inherit;
    overflow-y: scroll;
}

.notebook-paper {
    height: inherit;
    background: linear-gradient(to bottom,white 29px,#00b0d7 1px);
    background-size: 100% 30px;
    position: relative;
    border-radius: 5px;
    z-index: 1;
}

.notebook-paper:before {
    content: '';
    display: block;
    position: absolute;
    z-index: 0;
    top: 0;
    left: 80px;
    height: 100%;
    width: 1px;
    background: #db4034;
}

/* Outer border of triangle of infobox*/
.map-infobox::before {
    content:'';
    position: absolute;
    top: 100%;
    left: 50%;
    margin-left: -20px;
    width: 0;
    height: 0;
    border-left: solid 20px transparent;
    border-right: solid 20px transparent;
    z-index: 10;
}
  
/* Inner background of triangle of infobox */
.map-infobox::after {
    content:'';
    position: absolute;
    top: calc(100% - 2px);
    left: 50%;
    margin-left: -16px;
    width: 0;
    height: 0;
    border-left: solid 16px transparent;
    border-right: solid 16px transparent;
    z-index: 10;
}

.left-triangle {
    content: '';
    width: 25px;
    height: 20px;
    margin-top: 8px;
    clip-path: polygon(30% 100%, 100% 100%, 100% 0);
    background-color: #C6737F;
}

.right-triangle {
    content: '';
    width: 25px;
    height: 20px;
    margin-top: 8px;
    clip-path: polygon(70% 100%, 0 100%, 0 0);
    background-color: #C6737F;
}