@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  /* --background: #ffffff; */
  --background: #FFFDF8;

  --foreground: #171717;
}

@media (prefers-color-scheme: light) {
  :root {
    /* --background: #0a0a0a; */
    --background: #FFFDF8;
    /* --foreground: #ededed; */
    /* --foreground:  */
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Helvetica, Arial, sans-serif;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

/* Font size reset */
body {
  font-size: 16px;
  line-height: 1.45em;
}

p {margin-bottom: 1.3em;}

h1, h2, h3, h4 {
  margin: 1.414em 0 0.5em;
  line-height: 1.2em;
}

h1 {
  margin-top: 0;
  font-size: 3.157em;
}

h2 {font-size: 2.369em;}

h3 {font-size: 1.777em;}

h4 {font-size: 1.333em;}

small, .font_small {font-size: 0.75em;}